In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("../datacreator/pokedataset.csv")
df.head()

,id,Name,Height(m),Weight{kg},HP,Attack,Defense,Sp.Atk,Sp.Def,Speed,...,Egg_Group_1,Egg_Group_2,Generation,Capture_Rate,Base_Happiness,Is_Baby,Egg_Cycles,Past_Type,Is_Pseudo_Legendary,Total_Stats
0,1,Bulbasaur,0.7,6.9,45,49,49,65,65,45,...,Monster,Plant,Gen-1,45,70,False,20,NaN,False,318
1,2,Ivysaur,1.0,13.0,60,62,63,80,80,60,...,Monster,Plant,Gen-1,45,70,False,20,NaN,False,405
2,3,Venusaur,2.0,100.0,80,82,83,100,100,80,...,Monster,Plant,Gen-1,45,70,False,20,NaN,False,525
3,4,Charmander,0.6,8.5,39,52,43,60,50,65,...,Monster,Dragon,Gen-1,45,70,False,20,NaN,False,309
4,5,Charmeleon,1.1,19.0,58,64,58,80,65,80,...,Monster,Dragon,Gen-1,45,70,False,20,NaN,False,405

In [ ]:
df = df.iloc[0:150]
df=df[["id","Name", "Height(m)", "Weight{kg}", "HP", "Attack", "Defense", "Sp.Atk", "Sp.Def", "Type_1"]]

df = df.rename(columns={'id': 'Esto_debe_SER_ID'})
# Valroes Nan Hp y Attack
df.loc[7, 'HP'] = np.nan
df.loc[12, 'Attack'] = np.nan

# Filas Duplicadas- Duplicar Charizard
df = pd.concat([df, df.loc[[5]]], ignore_index=True)

# Filas Duplicadas - Duplicar Ivysaur y modificar
df = pd.concat([df, df.loc[[1]]], ignore_index=True)
df.loc[df.index[-1], 'Name'] = 'Ivysaur_Partial_Dup'
df.loc[df.index[-1], 'HP'] = 999.0 
# Cambio de peso desproporcionado
df.loc[8, 'Weight{kg}'] = 5000.0
# Cambio de conversion de altura
df.loc[1, 'Height(m)'] = df.loc[1, 'Height(m)'] * 1000
# No existe Este tipo
df.loc[2, 'Tipo_Principal'] = 'Grassindo no es grassindo'
# Collumna Extra
df.loc[3, 'Tipo_Principal'] = 'Categoria_extra'

df.loc[10, 'Defense'] = 40000000
#Se añadio $ para que sea un String
df.loc[15, 'Sp.Atk'] = '$50'

# Guardar el nuevo dataset sucio
df.to_csv('dirty_dataset.csv', index=False)